{% extends "base.html" %}

{% block title %}{{ model["name"] }}{% endblock %}

{% block head %}
    <script src="../../static/script.js"></script>
{% endblock %}

{% block body %}
<h1 {% if private %}class="private"{% endif %}>{{ model["name"] }}{% if "alt_spelling" in model %} ({{ model["alt_spelling"] }}){% endif %}</h1>

<img src="{{ get_model_image(model["model_id"]) }}">

{{ model["biography"] | markdown | safe }}

{% if model["links"] %}
<h2>Links</h2>
{{ model.links_block | markdown | safe }}
{% endif %}

<h2>Appearances</h2>
{% for site_name, items in appearances.items() %}
<div>
    <h3>{{ site_name }} <button onclick="toggle()">&#x2193;</button></h3>
    <ul class="hideable" style="display:none">
        {% for item in items %}
        <li><a href="{{ item.internal_url }}">{{ item.item_id }}</a>{% if item.name %} {{ item.name }}{% endif %}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}
